---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <img src="/assets/images/20250424_163923.jpg" alt="Adventure Pic" width="400" />

  </head>

  <div id="imageModal">
  <img id="modalImg" src="" alt="Full Image">
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const img = document.querySelector(".clickable-image");
    const modal = document.getElementById("imageModal");
    const modalImg = document.getElementById("modalImg");

    img.addEventListener("click", () => {
      modal.style.display = "flex";
      modalImg.src = img.src;
    });

    modal.addEventListener("click", () => {
      modal.style.display = "none";
    });
  });
</script>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
